<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StumpSlides.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE91F9FA230396F5003C716D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE91FA0E230396F6003C716D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE91FA19230396F6003C716D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
